body {
    background-color: #000000;
    font-family: Lato, sans-serif;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    border-bottom: 2px solid #3b3355;
    font-family: Orbitron, sans-serif;
    padding: 0.5rem;
}

footer {
    border-top: 2px solid #3b3355;
    padding: 0.5rem;
}

footer>ul {
    list-style-type: none;
}

h1 {
    font-size: 2rem;
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-family: Orbitron, sans-serif;

}

h6 {
    padding: 1rem;
    font-size: 0.7rem;
}

nav {
    font-size: 0.5rem;
}

.font-color-orange {
    color: #ff5f1f
}

.text-upper-case {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.max-width {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}

.right {
    float: right;
}

.no-text-decoration {
    text-decoration: none;
}

.flex-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.active {
    border-bottom: 1.5px solid #ff5f1f;
}


/*.flex-content {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 40%;
    flex-flow: wrap;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #3b3355;
    flex-direction: column;
}
*/
/* home page */

#landing-pg-content {
    margin: 3rem 0 1rem;
}

/*.flex-content>li {
    max-width: 32%;
    margin: 0.5rem;
    font-size: 1rem;
}*/

.no-list-decor {
    list-style-type: none;
}


.landing-img {
    width: 100%;

}

#landing-pg-content h2 {
    margin: 3rem;

}


#reasons-list>li {
    font-size: 0.75rem;
}

button {
    background-color: #3B3355;
    height: 5rem;
    width: 15rem;
    border: 1px solid #ff5f1f;
    border-radius: 10px;
    font-size: 2rem;
    color: #ff5f1f;
    margin: 2rem;
}

.button-center {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

/* code for contact page */

.contact-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4rem 0;
    font-size: 1rem;
    text-align: center;
    list-style-type: none;
}

.contact-img {
    width: 75%;
    padding: 0 0 3rem 0;
}


/*controls content on the gallery html */

.flex-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 40%;
    flex-flow: wrap;
    align-items: center;
    padding-bottom: 1rem;
}

.flex-gallery>li {
    max-width: 32%;
    margin: 0.5rem;
    font-size: 1rem;
}

figure {
    margin: 0;
}

.gallery-img {
    width: 100%;

}

/*controls content specific to the home page*/


.flex-home-content {
    max-width: 40%;
    margin: 0.5rem;
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.flex-home-content>li {
    padding: 0.5rem;
}

/* form background image */


.contact-background {
    background-image: url("images/contact.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0.75rem;
}


/* form elements */

.enquiry-form {
    border: 3px solid #3b3355;
    border-radius: 10px;
    background: RGBA(255, 95, 31, .5);
    position: relative;
    font-size: 1.5rem;
    height: 600px;
    margin: 2rem 0;
    width: 340px;
}

input,
textarea {
    width: 90%;
    display: block;
    border: 2px solid #3B3355;
    border-radius: inherit;
    margin: 1.5rem;
}

label {
    display: block;
    width: 100%;
    padding: 1rem 0 0.05rem;
}

.button-form {
    background-color: #3B3355;
    height: 3rem;
    width: 8rem;
    border: 1px solid #ff5f1f;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #ff5f1f;
    padding: 0.5rem;
}

/* media queries */

/*Mobile: 360 x 640
576px for portrait phones
768px for tablets
992px for laptops
1200px for large devices*/

@media screen and (min-width: 576px) {

    h1{
        font-size: 3rem;
    }

    nav {
        font-size: 1rem;
    }

    h6 {
        padding: 1rem;
        font-size: 1rem;
    }

    /*form reposition and resize*/
    .enquiry-form {
        border: 3px solid #3b3355;
        border-radius: 10px;
        background: RGBA(255, 95, 31, .5);
        position: relative;
        top: -80px;
        left: -120px;
        font-size: 1rem;
        height: 500px;
        margin: 2rem 0;
        width: 340px;
    }

    input,
    textarea {
        width: 90%;
        display: block;
        border: 2px solid #3B3355;
        border-radius: inherit;
        margin: 1rem;
    }

    label {
        display: block;
        width: 100%;
        padding: 0.5m 0 0.05rem;
    }

}

@media screen and (min-width: 768px) {

    /*home page */

    .flex-home-content {
        max-width: 60%;
        margin: 0.5rem;
        font-size: 1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .flex-home-content>li {
        padding: 0.5rem;
        width: 50%;
    }

    /* code for contact page */

    .contact-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 4rem 0;
        font-size: 1.1rem;
        text-align: center;
        list-style-type: none;
        width: 100%;
        align-items: center;
    }

    .contact-img {
        width: 45%;
        padding: 0 0 3rem 0;
    }

}

@media screen and (min-width: 992px) {

h1{
    font-size: 4rem;
}
}
@media screen and (min-width: 1200px) {
    h1{
        font-size: 6rem;
    }

    nav {
        font-size: 2rem;
    }
}