body {
    font-family: Lato, sans-serif;
    font-size: 1.3rem;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    background-color: #000000;
    border-bottom: 2px solid #3b3355;
    font-family: Orbitron, sans-serif;

}

section {
    margin: 5rem 0;
}

footer>ul {
    list-style-type: none;
}


h1 {
    font-size: 2rem;
    padding: 15rem 0;
}

h2 {
    font-size: 1.5rem;
    font-family: Orbitron, sans-serif;
    margin: 8rem 0 2rem 0;

}

h3 {
    font-size: 1.25rem;
}

h6 {
    padding: 1rem;
    font-size: 0.7rem;
    word-spacing: 4px;
}



.font-color-orange {
    color: #ff5f1f
}

.text-upper-case {
    text-transform: uppercase;
}


.text-center {
    text-align: center;
}

.max-width {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}

.right {
    float: right;
}

.no-text-decoration {
    text-decoration: none;
}

.flex-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.3rem;
    padding: 2rem 0;
}

.active {
    border-bottom: 1.5px solid #ff5f1f;
}

.button {
    background-color: #ff5f1f;
    border: 1px solid #ff5f1f;
    border-radius: 10px;
    font-size: 2rem;
    color: #fff;
    margin: 2rem;
    padding: 1rem;

}

.button-center {
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.img-border {
    border: 2px solid #000000;
    border-radius: 5px;
}

/* hover links */

.flex-nav>li>a:hover {
    color: #FFA987;
}

.flex-gallery>li>a:hover {
    color: #444140;
}

.button-center>a:hover {
    background-color: #FFA987;
}

.flex-footer>div>li>a:hover {
    color: #FFA987;
}

/* footer */

footer {
    border-top: 2px solid #3b3355;
    padding: 6rem 0;
    background-color: #000000;
}

.flex-footer {
    display: flex;
    justify-content: space-around;
    flex-flow: column;

}

.flex-footer>div {

    padding: 2rem 0;
}

/* home page */

#landing-pg-content {
    margin: 3rem 0 1rem;
}

.no-list-decor {
    list-style-type: none;
}



/* code for contact page */

.contact-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4rem 0;
    font-size: 1rem;
    text-align: center;
    list-style-type: none;

}

.contact-flext>p {
    margin: 0 10rem;
}

.contact-img {
    width: 75%;
}


/*controls content on the gallery html */

.flex-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 40%;
    flex-flow: wrap;
    align-items: center;
    padding-bottom: 1rem;


}

.flex-gallery>li {
    max-width: 32%;
    margin: 0.5rem;
    font-size: 1rem;

}



figure {
    margin: 0;
}

.gallery-img {
    width: 100%;

}

/*controls content specific to the home page*/





.flex-home-content {
    max-width: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.landing-img {
    width: 50%;

}

#landing-pg-content h2 {
    margin: 3rem;

}


/* form background image */


.contact-background {
    background-image: url("images/contact.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 95%;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0.75rem;
}


/* form elements */

.enquiry-form {
    border: 3px solid #3b3355;
    border-radius: 5px;
    background: RGBA(255, 95, 31, .5);
    position: relative;
    font-size: 1.5rem;
    margin: 2rem 0;
    width: 95%;
}

input,
textarea {
    width: 90%;
    display: block;
    border: 2px solid #3B3355;
    border-radius: inherit;
    margin: 1.5rem;
    font-size: 1rem;
}

label {
    display: block;
    width: 100%;
    padding: 1rem 0 0.05rem;
    margin: 1.5rem;
}

.button-form {
    background-color: #3B3355;
    height: 3rem;
    width: 8rem;
    border: 1px solid #ff5f1f;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #ff5f1f;
    padding: 0.5rem;
}

/* media queries */

/*Mobile: 360 x 640
576px for portrait phones
768px for tablets
992px for laptops
1200px for large devices*/



@media screen and (min-width: 576px) {

    h1 {
        font-size: 3rem;
    }

    nav {
        font-size: 0.5rem;
    }

    h6 {
        padding: 1rem;
        font-size: 1rem;
    }

    /* home page */

    .flex-home-content {
        font-size: 1.5rem;
    }

    #reasons-list>li {
        margin: 0 1rem;
    }



    /*form reposition and resize*/

    .enquiry-form {
        border: 3px solid #3b3355;
        border-radius: 5px;
        background: RGBA(255, 95, 31, .5);
        position: relative;
        top: -60px;
        font-size: 1rem;
        margin: 2rem 0;
    }

    input,
    textarea {
        width: 90%;
        display: block;
        border: 2px solid #3B3355;
        border-radius: inherit;
        margin: 1rem;
    }

    label {
        display: block;
        width: 100%;
        padding: 0.5rem 0 0.05rem;
    }

}




@media screen and (min-width: 768px) {

    /* home page */

    .flex-home-content {
        font-size: 2rem;
        flex-direction: row;
    }

    #reasons-list>li {
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    .flex-home-content>li {
        padding: 0.5rem;
        width: 50%;
    }

    /* code for contact page */

    .contact-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 4rem 0;
        font-size: 1.1rem;
        text-align: center;
        list-style-type: none;
        width: 100%;
        align-items: center;
    }

    .contact-img {
        width: 45%;
    }

}

@media screen and (min-width: 992px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    /*home page */

    .flex-home-content {
        font-size: 2rem;
        align-items: center;
    }

    .flex-home-content>li {
        padding: 0.5rem;
        width: 50%;
    }

    #reasons-list>li {
        font-size: 1.5rem;
        margin: 0 25%;
    }

    /* footer */

    .flex-footer {
        flex-flow: row;

    }

    /* code for contact page */

    .contact-flex {
        font-size: 1.4rem;
        margin: 10rem 0;
    }

    .contact-background {
        height: 1100px;
    }



    /* Enquiry form */


    .enquiry-form {
        top: -260px;
        left: -260px;
        width: 340px;
    }


}



@media screen and (min-width: 1200px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    nav {
        font-size: 1rem;
    }

    /* Home page responsive*/

    .flex-home-content {
        font-size: 2rem;
    }

    #reasons-list>li {
        font-size: 2rem;
    }

    /* code for contact page */

    .contact-flex {
        font-size: 2rem;
    }

    /* Enquiry form */


    .enquiry-form {
        top: -260px;
        left: -300px;
        width: 540px;
    }

}