body {
    font-family: Lato, sans-serif;
    font-size: 1rem;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    background-color: #000000;
    border-bottom: 2px solid #3b3355;
    font-family: Orbitron, sans-serif;
}

section {
    margin: 3rem 0;
}

footer>ul {
    list-style-type: none;
}

h1 {
    font-size: 2rem;
    padding: 3rem 0;
}

h2 {
    font-size: 1.5rem;
    font-family: Orbitron, sans-serif;
    margin: 2rem 0 2rem 0;
}

h3 {
    font-size: 1.25rem;
}
h5{
    font-weight: normal;
}
h6 {
    padding: 1rem;
    font-size: 0.7rem;
    word-spacing: 4px;
}

.font-color-orange {
    color: #ff5f1f
}

.text-upper-case {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.max-width {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}

.right {
    float: right;
}

.no-text-decoration {
    text-decoration: none;
}

.flex-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.3rem;
    padding: 2rem 0;
    flex-flow: column;
    text-align: center;
    background-color: white;
    list-style: none;
}

.flex-nav>li {
    padding: 1rem 0;
}

.active {
    border-bottom: 1.5px solid #ff5f1f;
}

.button {
    background-color: #ff5f1f;
    border: 1px solid #ff5f1f;
    border-radius: 10px;
    font-size: 2rem;
    color: #fff;
    margin: 2rem;
    padding: 1rem;
}

#indented-title{
    margin: 0 2rem;
}

.form-field{
    height: 2rem;
}

.button-center {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#map{
    overflow: hidden;
}

#contact-map{
    width: 90%;
    min-height: 460px;
    display: block;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 5px;
}

.img-border {
    border: 2px solid #000000;
    border-radius: 5px;
}

/* home page grid */

#home-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(3rem, auto);
    grid-gap: 1rem;
    display: grid;
    max-width: 90%;
    margin: 0 auto;
}

/* gallery grid */

#gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(5rem, auto);
    grid-gap: 1rem;
    display: grid;
    max-width: 90%;
    margin: 0 auto;
}

#one {
    grid-column: 2/3;
    grid-row: 1/3;
}

#two {
    grid-column: 1/2;
    grid-row: 2/4;
}

#three {
    grid-column: 1/2;
    grid-row: 1/2;
}

#four {
    grid-column: 3/4;
    grid-row: 1/2;
}

#five {
    grid-column: 2/3;
    grid-row: 3/5;
}

#six {
    grid-column: 1/2;
    grid-row: 4/5;
}

#seven {
    grid-column: 3/4;
    grid-row: 4/5;
}

#eight {
    grid-column: 1/2;
    grid-row: 7/8;
}

#nine {
    grid-column: 3/4;
    grid-row: 2/4;
}

#ten {
    grid-column: 2/3;
    grid-row: 3/5;
}

#eleven {
    grid-column: 2/3;
    grid-row: 5/6;
}

#twelve {
    grid-column: 3/4;
    grid-row: 7/8;
}

#thirteen {
    grid-column: 1/2;
    grid-row: 5/7;
}

#fourteen {
    grid-column: 2/3;
    grid-row: 6/8;
}

#fifteen {
    grid-column: 3/4;
    grid-row: 5/7;
}

/* hover links */

.flex-nav>li>a:hover {
    color: #FFA987;
}

.flex-gallery>li>a:hover {
    color: #444140;
}

.button-center>a:hover {
    background-color: #FFA987;
}

.flex-footer>div>li>a:hover {
    color: #FFA987;
}

.no-list-decor>li>a>i:hover {
    color: #FFA987;
}

input#submit:hover {
    color: #3B3355;
    background-color: #ff5f1f;
}

/* footer */

footer {
    border-top: 2px solid #3b3355;
    background-color: #000000;
}

.flex-footer {
    display: flex;
    justify-content: space-around;
    flex-flow: column;

}

.flex-footer>div {

    padding: 2rem 0;
}

/* home page */

#landing-pg-content {
    margin: 3rem 0 1rem;
}

.no-list-decor {
    list-style-type: none;
}

/* code for contact page */

.contact-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
    text-align: center;
    list-style-type: none;
}

.contact-flext>p {
    margin: 0 10rem;
}

.contact-img {
    width: 75%;
}

#contact-page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(5rem, auto);
    grid-gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
}

/*controls content on the gallery html */

.flex-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 40%;
    flex-flow: wrap;
    align-items: baseline;
    padding-bottom: 0;
}

.flex-gallery>li {
    max-width: 32%;
    margin: 0.5rem;
    font-size: 1rem;
}

figure {
    margin: 0;
}

.gallery-img {
    width: 100%;

}

/*controls content specific to the home page*/

.flex-home-content {
    max-width: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.landing-img {
    width: 100%;
}

#landing-pg-content h2 {
    margin: 3rem;
}

/* form background image */

.contact-background {
    background-image: url("../images/contact.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 95%;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0.75rem;
}

/* form elements */

.enquiry-form {
    border: 3px solid #3b3355;
    border-radius: 5px;
    background: RGBA(255, 95, 31, .5);
    position: relative;
    font-size: 1.5rem;
    margin: 2rem 0;
    width: 95%;
}

input,
textarea {
    width: 80%;
    display: block;
    border: 2px solid #3B3355;
    border-radius: inherit;
    margin: 1.5rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

label {
    display: block;
    width: 100%;
    padding: 1rem 0 0.05rem;
    margin: 1.5rem;
}

.button-form {
    background-color: #3B3355;
    height: 3rem;
    width: 8rem;
    border: 1px solid #ff5f1f;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #ff5f1f;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

/* media queries */

@media screen and (min-width: 576px) {

    h1 {
        font-size: 3rem;
        padding: 5rem 0;
    }

    nav {
        font-size: 0.75rem;
    }

    .flex-nav {
        flex-flow: row;
    }

    h3 {
        font-size: 1.5rem;

    }

    h6 {
        padding: 1rem;
        font-size: 1rem;
    }

    /* home page */

     #reasons-list>li {
        margin: 0 1rem;
    }

    /*form reposition and resize*/

    .enquiry-form {
        border: 3px solid #3b3355;
        border-radius: 5px;
        background: RGBA(255, 95, 31, .5);
        font-size: 1rem;
        margin: 2rem 0;
    }

    input,
    textarea {
        width: 90%;
        display: block;
        border: 2px solid #3B3355;
        border-radius: inherit;
        margin: 1rem;
    }

    label {
        display: block;
        width: 100%;
        padding: 0.5rem 0 0.05rem;
    }

}

@media screen and (min-width: 768px) {

    /* home page */

    .flex-home-content {
        flex-direction: row;
    }

    h3 {
        font-size: 2rem;
    }
    
    h5{
        font-size: 1rem;
    
    }

    h6 {
        font-size: 1rem;
    }

    #reasons-list>li {
        margin: 0 1rem;
    }

    .flex-home-content>li {
        padding: 0.5rem;
        width: 50%;
    }

    /* code for contact page */

    .contact-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 1.1rem;
        text-align: center;
        list-style-type: none;
        width: 100%;
        align-items: center;
    }

    .contact-img {
        width: 45%;
    }

}

@media screen and (min-width: 992px) {

    #home-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(3rem, auto);
        grid-gap: 1rem;
        display: grid;
        max-width: 90%;
        margin: 0 auto;
    }

    #why-come{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
h5{
    font-size: 1.5rem;

}

    #pic-one{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    #text-one{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }
    
    #who{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
    #pic-two{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    #text-two{
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 1rem;
    }
    
    #where{
        grid-column: 1/3;
        grid-row: 5/6;
    }
    
    #shop-front{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    
    #map{
        grid-column: 2/3;
        grid-row: 6/7;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    /*home page */

    .flex-home-content {
        align-items: center;
    }

    .flex-home-content>li {
        padding: 0.5rem;
        width: 50%;
    }

    #reasons-list>li {
        margin: 0 8%;
    }

    /* footer */

    .flex-footer {
        flex-flow: row;

    }

    /* code for contact page */

   .contact-flex {
        font-size: 1.4rem;
    

    .contact-background {
        height: 1100px;
    }

    /* Enquiry form */


    .enquiry-form {
        left: -260px;
        width: 340px;
    }

}

@media screen and (min-width: 1200px) {
    
    body{
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex-home-content {
        font-size: 2rem;
    }

    #reasons-list>li {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h6 {
        font-size: 2rem;
    }

    nav {
        font-size: 1rem;
    }

    /* code for contact page */

    .contact-flex {
        font-size: 2rem;
    }

    /* Enquiry form */

    .enquiry-form {
        left: -300px;
        width: 540px;
    }

}