@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Orbitron&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    background-color: #f1eff5
}

h1,
h2 {
    font-family: Orbitron, Helvetica, sans-serif;
    color: #2e4b88;
}

p {
    font-family: Lato, Helvetica, sans-serif;
    color: #2e4b88;
}

/* Header */

header {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 80px;
    border-bottom: 2px solid #171718

}


#logo {
    float: left;
    font-size: 300%;
    word-spacing: 20px;
    margin-left: 5%;

}

#nav-links {
    font-size: 110%;
    }

#nav-links li {
    list-style-type: none;
    margin-right: 30px;
    float: right;
}

#nav-links a {
    text-decoration: none;
}

#nav-links,
#logo {
    line-height: 75px;
}

#nav-links a:hover {
    border-bottom: 1px solid #2e4b88;
}

.active {
    border-bottom: 1px solid #2e4b88;
}


/* Hero image*/

#hero-image{
    height: 700px;
    width: 100%;
    object-fit: contain;
    background: url(../css/images/Backdrop-Heroimage\ \(1\).jpg);
    padding-top: 70px;

}

/* list of reasons */



#rreason{
    float:right;
    position: relative;
    right: 400px;
    font-family: Lato, Helvetica, sans-serif;
    color: #2e4b88;
    padding-top:35px;
    text-align: right;
    list-style: none;
    font-size: 130%;
}

#lreason{
    float:left;
    position:relative;
    left: 400px;
    font-family: Lato, Helvetica, sans-serif;
    color: #2e4b88;
    padding-top:35px;
    list-style: none;
    font-size: 130%;
}

/* invite paragraph */
 #invite{
    margin: 0 auto;
    font-size: 150%;
    position:relative;
    top: 150px;
    width: 450px;
    text-align: center;
    }



/* Footer*/

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 35px;
    padding-top: 35px;
    border-top: 2px solid #171718
}

.contact-us{
    text-align:center;
}

