body {
    background-color: #000000;
    font-family: Lato, sans-serif;
}

*{
    padding:0;
}

header {
    border-bottom: 2px solid #3b3355;
    font-family: Orbitron, sans-serif;
    text
}

footer {
    border-top: 2px solid #3b3355;
}

footer>ul {
    list-style-type: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-family: Orbitron, sans-serif;

}

h4 {
    font-size: 3rem;
}

nav {
    font-size: 0.5rem;
}

.font-color-orange {
    color: #ff5f1f
}

.text-upper-case {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}

.right {
    float: right;
}

padding-0{
    padding:0;
}


.flex-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-content {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 40%;
    flex-flow: wrap;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #3b3355;
    flex-direction: column;
}



#landing-pg-content {
    margin: 3rem 0 1rem;
}

.flex-content>li {
    max-width: 32%;
    margin: 0.5rem;
    font-size: 1rem;
}

.no-list-decor {
    list-style-type: none;
}

.no-text-decoration {
    text-decoration: none;
}

.landing-img {
    width: 100%;

}

.gallery-img {
    width: 100%;

}

#landing-pg-content h2 {
    margin: 3rem;

}

.active {
    border-bottom: 1.5px solid #ff5f1f;
}

#reasons-list>li {
    font-size: 0.75rem;
}

button {
    background-color: #3B3355;
    height: 5rem;
    width: 15rem;
    border: 1px solid #ff5f1f;
    border-radius: 10px;
    font-size: 2rem;
    color: #ff5f1f;
    margin: 2rem;
}

.button-center {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.contact-background {
    background-image: url("images/contact.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.max-width {
    width: 100%;
}

/* code for contact page */

.contact-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4rem 0;
    font-size: 1rem;
    text-align: center;
    list-style-type: none;
}

.contact-img {
    width: 75%;
}

.contact-flex>li {
    padding: 0;
}

/*controls content on the gallery html */

.flex-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 40%;
    flex-flow: wrap;
    align-items: center;
    padding-bottom: 1rem;
}

.flex-gallery>li {
    max-width: 32%;
    margin: 0.5rem;
    font-size: 1rem;
}

figure {
    margin: 0;
}

/*controls content specific to the home page*/


.flex-home-content {
    max-width: 60%;
    margin: 0.5rem;
    font-size: 1rem;
    margin: 0 auto;
}

.flex-home-content>li {
    padding: 0.5rem;
}

/* form elements */

.enquiry-form {
    border: 3px solid #3b3355;
    border-radius: 10px;
    background: RGBA(255, 95, 31, .5);
    position: relative;
    top: -20px;
    left: -60px;
    padding: 0 1rem;
    font-size: 0.1rem;
}

input,
textarea {
    width: 90%;
    display: block;
    border: 2px solid #3B3355;
}

label {
    display: block;
    width: 100%;
    padding: 1rem 0 0.25rem;
}





.button {
    background-color: #3B3355;
    height: 2rem;
    width: 6rem;
    border: 1px solid #ff5f1f;
    border-radius: 10px;
    font-size: .5rem;
    color: #ff5f1f;
    margin: 2rem;
}